<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">{{message}}</div>
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<div id="app-6">
		<p>{{message}}</p>
		<input v-model = "message">
	</div>
	<script type="text/javascript">
		//声明式渲染
		var app = new Vue({
			el : "#app",
			data : {
				message : "Hello Vue"
			}
		})
		//所有的元素都是响应式的
		var app2 = new Vue({
			el : "#app-2",
			data : {
				message : "页面加载于" + new Date().toLocaleString()
			}
		})
		//条件与循环
		var app3 = new Vue({
			el : "#app-3",
			data : {
				seen : "true"
			}
		})
		var app4 = new Vue({
			el : "#app-4",
			data : {
				todos : [
					{text:"uncaught：未捕获"},
					{text:"invalid：无效的"},
					{text:"unexpected: 意外的"},
					{text:"token：表征，记号"}
				]
			}
		})
		//处理用户输入
		var app5 = new Vue({
			el : "#app-5",
			data : {
				message : "Hello Vue.js!"
			},
			methods : {
				reverseMessage : function  () {
					// body... 
					this.message = this.message.split(" ").reverse().join(" ");
				}
			}
		})

		var app6 = new Vue({
			el : "#app-6",
			data : {
				message : "Hello Vue!"
			}
		})

		// vue的核心是一个允许简洁的模板语法来声明式的将数据渲染进DOM的系统

	</script>
</body>
</html>